<div class="readMore" style="padding: 13px 20px 50px 20px">
    <a href="{{data['url']}}{% include 'utm_param.twig' %}" target="_blank" style="float: left; text-decoration: none; color: #7c7c7c;" title="மேலும்...   {{data['title']}}">
        <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/melum.gif" alt="மேலும்" border="0" height="30" width="76" />
    </a>
</div>