<table class="social_links_banner" width="100%" bgcolor="white" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td class="image" valign="top">
            <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/newsletters/2142/anandaalai-650x120-ad.jpg" height="97" width="100%" border="0" usemap="#social" alt="ஈஷாவின் தமிழ் இணையதளம்" title="ஈஷாவின் தமிழ் இணையதளம்" />
            <map name="social">
                <area shape="rect" coords="12,7,91,45" title="ஈஷாவின் தமிழ் இணையதளம்" alt="ஈஷாவின் தமிழ் இணையதளம்" href="http://tamilblog.ishafoundation.org/?utm_source=newsletter&amp;utm_medium=email&amp;utm_campaign={{date}}{{year}}-{{data['newsletter_title']}}" target="_blank">
                <area shape="rect" coords="10,58,212,88" title="ஈஷாவின் தமிழ் Facebook" alt="ஈஷாவின் தமிழ் Facebook" href="https://www.facebook.com/IshaFoundationTamil/" target="_blank">
                <area shape="rect" coords="221,58,404,88" title="ஈஷாவின் தமிழ் Twitter" alt="ஈஷாவின் தமிழ் Twitter" href="https://twitter.com/IshaTamil/" target="_blank">
                <area shape="rect" coords="416,58,611,88" title="ஈஷாவின் தமிழ் YouTube" alt="ஈஷாவின் தமிழ் YouTube" href="https://www.youtube.com/anandaalai/" target="_blank">
            </map>
        </td>
    </tr>
</table>