<!-- ####### BANNER ####### -->
{% set data = data[0] %}
<table class="banner" align="center" width="100%" bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="cursor: inherit; border-spacing: 0px 5px 5px 0px; border-bottom: solid; border-bottom-color: #cccac0; border-bottom-width: 4px; border-right: solid; border-right-color: #cccac0; border-right-width: 4px;">
    <tr>
        <td class="image" valign="top" style="color: #7c7c7c; font-family: Arial, Helvetica, sans-serif, Latha, Inaimathi; font-size: 11px; cursor: inherit;">
            {% if data['url'] %}
            <a href="{{data['url']}}{% if ('?' in data['url']) == false  %}?{% include 'utm_param.twig' %}{% endif %}" style="text-decoration: none; color: #7c7c7c;" target="_blank">
            {% endif %}
                <img src="{{data['media']['image']['url']}}" alt="{{data['title']}}" title="{{data['title']}}" style="display: block;" border="0" width="650" height="auto" />
            {% if data['url'] %}
            </a>
            {% endif %}
        </td>
    </tr>
</table>