<!-- <<<<<<< READMORE >>>>>>> -->
{% if language == 'tamil' %}
    {% set readmore = "மேலும்" %}
{% else %}
    {% set readmore = "More" %}
{% endif %}
<div class="readMore" style="padding: 13px 20px 23px 20px; font-size: 16px">
    <a href="{{data['url']}}{% if ('?' in data['url']) == true  %}&amp;{% else %}?{% endif %}{% include 'utm_param.twig' %}" target="_blank" style="text-decoration: none; color: #7d3705;" title="{{readmore}}...   {{data['title']}}">
        {{readmore}}
    </a>
</div>
<!-- >>>>>>> READMORE <<<<<<< -->
