<!-- <<<<<<< TITLE >>>>>>> -->
<div class="title" style="font-size: 14px; font-weight:bold; text-align: {% if title_align %}{{title_align}}{%else%}center{% endif %}; padding-top: 20px; padding-right: 10px; padding-left: 20px;">
    <a href="{{data['url']}}{% include 'utm_param.twig' %}" target="_blank" style="color: #c46f17; text-decoration: none;">{{data['title']}}</a>
</div>
<!-- >>>>>>> TITLE <<<<<<< -->
