<!-- ####### FOOTER ####### -->
<table class="footer" align="center" width="100%" border="0" cellpadding="0" cellspacing="0" style="text-align: center; margin-top: 45px; color: inherit; font-family: inherit; font-size: inherit; cursor: inherit;">
    <tr>
        <td class="logo" style="color: inherit; font-family: inherit; font-size: inherit; cursor: inherit;">
            <a href="http://isha.sadhguru.org/blog/ta/?{% include 'utm_param.twig' %}" style="text-decoration: none; color: inherit;" title="Visit Isha Foundation" target="_blank">
                {% if language == 'tamil' %}
                    <img src="http://mail.ishafoundation.org/op/app/public/file/view/ry/w9" alt="ஈஷா" border="0" width="130" style="padding-bottom: 5px" />
                {% else %}
                    <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/newsletters/2169/isha-logo.png" alt="ஈஷா" border="0" height="88" width="100" />
                {% endif %}
            </a>
        </td>
    </tr>
    <tr>
        <td class="image" valign="top" style="color: inherit; font-family: inherit; font-size: inherit; cursor: inherit; padding-bottom: 10px">
            <a href="http://www.facebook.com/IshaFoundationTamil" target="_blank" style="text-decoration: none; color: inherit;">
                <img src="http://www.templatemine.net/themeForest/SharedAssets/icons_d_64x64_circle/facebook.png" title="ஈஷாவின் தமிழ் Facebook" alt="ஈஷாவின் தமிழ் Facebook" style="display:inline-block" border="0" height="32" width="32" />
            </a>
            <a href="http://www.twitter.com/IshaTamil" target="_blank" style="text-decoration: none; color: inherit;">
                <img src="http://www.templatemine.net/themeForest/SharedAssets/icons_d_64x64_circle/twitter.png" title="ஈஷாவின் தமிழ் Twitter" alt="ஈஷாவின் தமிழ் Twitter" style="display:inline-block;margin-left:10px" border="0" height="32" width="32" />
            </a>
            <a href="http://www.youtube.com/user/anandaalai" target="_blank" style="text-decoration: none; color: inherit;">
                <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/3/youtube.png" title="ஈஷாவின் தமிழ் YouTube" alt="ஈஷாவின் தமிழ் YouTube" style="display:inline-block;margin-left:10px" border="0" height="32" width="32" />
            </a>
            <a href="http://isha.sadhguru.org/blog/ta/?{% include 'utm_param.twig' %}" target="_blank" style="text-decoration: none; color: inherit;">
                <img src="http://www.templatemine.net/themeForest/SharedAssets/icons_d_64x64_circle/rss.png" title="ஈஷாவின் தமிழ் Facebook"  title="ஈஷாவின் தமிழ் இணையதளம்" alt="ஈஷாவின் தமிழ் இணையதளம்" style="display:inline-block;margin-left:10px" border="0" height="32" width="32" />
            </a>
        </td>
    </tr>
    <tr>
        <td class="copyrights" style="font-size: 120%; color: inherit; font-family: inherit; cursor: inherit;">
            Copyright &copy; 2017 Isha Foundation
        </td>
    </tr>
    <tr>
        <td class="quick-links" style="font-size: 120%; color: inherit; font-family: inherit; cursor: inherit; padding-top: 2px;">
            <a style="color: inherit;" href="http://www.ishafoundation.org/ta/?{% include 'utm_param.twig' %}" target="_blank">
                www.tamil.ishafoundation.org
            </a>
            &nbsp;|&nbsp;
            <a style="color: inherit;" href="mailto:tamilblog@ishafoundation.org">Contact us</a>
            &nbsp;|&nbsp;
            <a style="color: inherit;" href="http://www.ishafoundation.org/Copyright.isa" target="_blank">Privacy</a>
            &nbsp;|&nbsp;
            <a style="color: inherit;" href="{{config['unsubscibe_link']}}" target="_blank">Unsubscribe</a>
        </td>
    </tr>
    <tr>
        <td class="contact-address" style="color: inherit; font-family: inherit; font-size: inherit; cursor: inherit; padding-top: 5px;">
            15, Govindasamy Naidu Layout, Singanallur, Coimbatore - 641 005, INDIA.
        </td>
    </tr>
</table>