{% set data = data[0] %}
{% set display_date = data['media']['duration']|split(', ') %}
<table class="header" bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="padding: 30px 20px 30px 25px; height: 71px;">
    <tr>
        <td class="logo" valign="top">
            {% if language == 'tamil' %}
            <a href="http://tamilblog.ishafoundation.org/category/video/video-video/{% include 'utm_param.twig' %}" target="_blank" style="text-decoration: none; color: #7c7c7c;">
                <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/2/isha-tamil-logo.png" alt="ஈஷா தமிழ் Logo" style="display: block;" border="0" height="71" width="100" />
            </a>
            {% else %}
            <a href="http://www.ishafoundation.org/ta/{% include 'utm_param.twig' %}" style="text-decoration: none; color: #7c7c7c; padding-left: 8px; padding-right: 13px" title="Visit Isha Foundation" target="_blank">
                <img src="http://www.ishafoundation.org/mailmarketer/admin/temp/user/1/logo.png" alt="Isha Logo" border="0" height="69" width="79" />
            </a>
            {% endif %}
        </td>
        <td class="title" style="padding-right: 20px; font-size: 24px; color: #202020; line-height: 1.4em; font-family: Georgia, Serif;" align="right" width="385">
            <a style="color:black; text-decoration:none;" href="http://tamilblog.ishafoundation.org/{% include 'utm_param.twig' %}" target="_blank">{{data['title']}} <span style="font-size:27px;">blog</span></a> <br /> <span style="font-size: 16px; color: #7c7c7c; line-height: 23px;">{{data['blurb']}}</span>
        </td>
        <td class="display_date" style="background-color: #c46f17; font-size: 18px; color: white; line-height: 1.2em; padding-top: 10px; padding-bottom: 10px;" align="center" width="100">
            <span class="month_and_day">{{display_date[0]}}</span>
            <span class="year" style="font-size: 20px; display: inline-block;">{{display_date[1]}}</span>
        </td>
    </tr>
</table>