<!-- ####### HEADER ####### -->
{% set data = data[0] %}
{% set display_date = data['media']['duration'] %}
<table class="header" align="center" border="0" cellpadding="0" cellspacing="0" style="padding: 0; color: #7c7c7c; font-family: Arial, Helvetica, sans-serif, Latha, Inaimathi; cursor: default; background: url('https://gallery.mailchimp.com/be38b7a8cd19d420bb43fd883/images/854c9d0b-5d7a-4e98-a169-10c4ce28273d.png'); background-color: #C5A985; width: 100%; border-right: 4px solid #cccac0">
    <tr>
        <td style="height: 33px; background: url('https://gallery.mailchimp.com/be38b7a8cd19d420bb43fd883/images/fb602708-de2f-49f8-980b-a7c1e5e45ed2.png'); background-color: #c46f17" colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td class="logo" valign="top" style="color: #7c7c7c; font-family: Arial, Helvetica, sans-serif, Latha, Inaimathi; font-size: 25px; cursor: default; padding: 35px 30px 0px 30px" width="25%" align="center">
            {% if language == 'tamil' %}
            <a href="http://isha.sadhguru.org/blog/ta/?{% include 'utm_param.twig' %}" target="_blank" style="text-decoration: none; color: white; text-align: center">
                <img src="http://mail.ishafoundation.org/op/app/public/file/view/ry/wa" alt="ஈஷா" style="display: block; width: 130px" border="0" />
            </a>
            {% else %}
            <a href="http://www.ishafoundation.org/?{% include 'utm_param.twig' %}" style="text-decoration: none; color: #7c7c7c; padding-left: 8px; padding-right: 13px" title="Visit Isha Foundation" target="_blank">
                <img src="https://ci5.googleusercontent.com/proxy/jhD9_PsQRf-pLD7_5m4gFlAIDHfcIQhZibSkYRElZwDx4Fki_RzI9JcYklBnYb1QndZdQj3vUHrh4jSf4w-973CDSkarkl2iS9qExgr6V7eqX2kdQSlNTCh9sWorTcLGJCM8HXn-KBEVVVMZjg=s0-d-e1-ft#http://www.ishafoundation.org/mumbai/newsletter/mar/img2/isha-foundation-logo-white.png" alt="Isha Logo" border="0" height="69" width="79" />
            </a>
            {% endif %}
        </td>
        <td class="title" style="padding: 15px 25px 10px 25px; color: #7c7c7c; font-family: Arial, Helvetica, sans-serif, Latha, Inaimathi; cursor: default;" align="right">
            <a style="color: white; text-decoration:none; font-size: 28px; line-height: 140%;" href="http://isha.sadhguru.org/blog/ta/?{% include 'utm_param.twig' %}" target="_blank">{{data['title']}}</a> <br /> <span style="font-size: 16px; color: white; line-height: 180%;">{{data['blurb']}}</span>
            <div class="display_date" style="font-size: 18px; color: #27414d; line-height: 120%; padding-top: 10px; padding-bottom: 10px; font-family: Arial, Helvetica, sans-serif, Latha, Inaimathi; cursor: default;" align="right" width="100%">
                <span class="month_and_day">{{display_date}}</span>
            </div>
        </td>
    </tr>
</table>