{
    "newsletter_title": "{{NEWSLETTER_TITLE}}",
    "date": "{{DATE}}",
    "year": "{{YEAR}}",
    "display_date": "{{DISPLAY_DATE}}",
    "blocks": [
        {
            "type": "single_blog",
            "data": {
                "title": false,
                "blurb": false,
                "url": "{{URL}}",
                "media": {
                    "type": "{{image|audio|video}}",
                    "duration": false,
                    "image": {
                        "url": false,
                        "width": "650",
                        "height": "366",
                        "resolution": "75"
                    }
                }
            }
        },
        {
            "type": "quote",
            "data": {
                "quote": "{{QUOTE}}"
            }
        },
        {
            "type": "double_blog",
            "data": {
                "left": {
                    "title": false,
                    "blurb": false,
                    "url": "{{URL}}",
                    "media": {
                        "type": "{{image|audio|video}}",
                        "duration": false,
                        "image": {
                            "url": false,
                            "width": "325",
                            "height": "222",
                            "resolution": "75"
                        }
                    }
                },
                "right": {
                    "title": false,
                    "blurb": false,
                    "url": "{{URL}}",
                    "media": {
                        "type": "{{image|audio|video}}",
                        "duration": false,
                        "image": {
                            "url": false,
                            "width": "325",
                            "height": "222",
                            "resolution": "75"
                        }
                    }
                }
            }
        },
        {
            "type": "banner",
            "data": {
                "title": "{{TITLE}}",
                "url": "{{URL}}",
                "image": "{{IMAGE_URL}}"
            }
        },
        {
            "type": "split_blog",
            "data": {
                "title": false,
                "blurb": false,
                "url": "{{URL}}",
                "media": {
                    "type": "{{image|audio|video}}",
                    "duration": false,
                    "image": {
                        "url": false,
                        "width": "325",
                        "height": "250",
                        "resolution": "75"
                    }
                }
            }
        },
        {
            "type": "split_blog_mirror",
            "data": {
                "title": false,
                "blurb": false,
                "url": "{{URL}}",
                "media": {
                    "type": "{{image|audio|video}}",
                    "duration": false,
                    "image": {
                        "url": false,
                        "width": "325",
                        "height": "250",
                        "resolution": "75"
                    }
                }
            }
        },
        {
            "type": "banner",
            "data": {
                "title": "{{TITLE}}",
                "url": "{{URL}}",
                "image": "{{IMAGE_URL}}"
            }
        },
        {
            "type": "social_links_banner"
        }
    ]
}