{
    "data_path": "{{DATA_PATH}}",
    "images_path": "{{IMAGES_PATH}}",
    "newsletter_template": "{{TEMPLATE_FILE_PATH}}",
    "blog_data": {
        "title_element": "{{HTML_DOM_XPATH_FOR_TITLE}}",
        "image_element": "{{HTML_DOM_XPATH_FOR_IMAGE}}",
        "video_element": "{{HTML_DOM_XPATH_FOR_VIDEO}}",
        "blurb_element": "{{HTML_DOM_XPATH_FOR_BLURB}}",
        "video_image_link": "{{VIDEO_IMAGE_FILE_PATH}}",
        "video_gdata_link": "{{VIDEO_GDATA_FILE_PATH}}"
    }
}